aiohttp==3.6.2
asgiref==3.2.3
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
Django==3.0.3
gunicorn==20.0.4
idna==2.8
multidict==4.7.4
pytz==2019.3
requests==2.22.0
soupsieve==1.9.5
sqlparse==0.3.0
telepot==12.7
urllib3==1.25.8
wikipedia==1.4.0
yarl==1.4.2
